@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #F1F1F3;
}

/* .open-sans-font {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
} */

* {
    margin: 0;
    padding: 0;
}

/* banner section */
.banner-container {
    width: 1280px;
    height: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    border-radius: 24px;
    background-color: #C6E4D6;
    display: flex;
    justify-content: center;
}
.banner-text{
    padding-top: 117px;
    padding-left: 59px;
    padding-right: 64px;
    padding-bottom: 117px;
    width: 622px;
    height: 326px;
}
.bn-sub{
    font-size: 24px;
    opacity: .5;
    columns: #0E0E0E;
    font-weight: 650;
    height: 45px;
}
.bn-title h2{
    font-weight: bold;
    font-size: 56px;
    line-height: 67px;
    margin-bottom: 27px;
}
.bn-bt{
    color: white;
    background-color: #006A50;
    width: 270px;
    height: 56px;
    text-align: center;

    border-radius: 8px;
}
.bn-bt p{
    padding-top: 18px;
}
.banner-img{
    padding: 80px 59px 80px 64px;
}
/* vision section */
.vision-container{
    width: 1280px;
        height: 477px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;

        border-radius: 24px;
}
.vision-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.vision-des{
    opacity: .7;
    font-size: 16px;
    margin-bottom: 32px;
}
.vision-card{
    display: flex;
    justify-content: space-between;
}
.card-1{
    width: 410px;
    background-color: #c4d5f3;
    height: 312px;
    border-radius: 16px;
}
.card-2{
    width: 410px;
    background-color: #C6E4D6;
    height: 312px;
    border-radius: 16px;
}
.card-3{
    width: 410px;
    background-color: #F7EBCF;
    height: 312px;
    border-radius: 16px;
}

.vision-card-img{
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 24px;
}
.vision-card-text{
    padding-left: 32px;
    width: 345px;
}
.card-hd{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    opacity: .8;
}
.card-des{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
    opacity: .7;
}
.vision-card-bt1{
    margin-left: 32px;
    width: 122px;
    background-color: #5490F5;
    text-align: center;
    border-radius: 8px;
}
.vision-card-bt2{
    margin-left: 32px;
    width: 122px;
    background-color: #09A15C;
    text-align: center;
    border-radius: 8px;
}
.vision-card-bt3{
    margin-left: 32px;
    width: 122px;
    background-color: #FFC239;
    text-align: center;
    border-radius: 8px;
}
.vision-bt-text{
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 2px;
    text-align: center;
}
/* quote */
.quote-container{
    width: 1280px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        margin-bottom: 80px;
        border-radius: 24px;
    background-color: #FFFF;


}
.quote-img{
    width: 64px;
    height: 64px;
    /* border: 1px solid black; */
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    margin-left: 24px;
    position: absolute;
    margin-top: 25px;
}
.quote-text{
    width: 1220px;
    height: 90px;
    color: #0E0E0E;
    opacity: .8;
    margin-top: 20px;
    line-height: 24px;
}
.yunus{
    padding-left: 24px;
    padding-top: 156px;
    margin-bottom: 48px;
}
.yunus h5{
    color: #0E0E0E;
    opacity: .8;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
}
.yunus p{
    color: #0E0E0E;
    opacity: .6;
}
/* news section */
.news-container {
    width: 1280px;
    height: 890px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 24px;
}
.news-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.news-des {
    opacity: .7;
    font-size: 16px;
    margin-bottom: 32px;
}
.alj1{
    width: 1280px;
    height: 395px;
    /* border: 1px solid black; */
    margin-bottom: 24px;
    border-radius: 24px;
    background-color:#FFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.alj2{
    width: 1280px;
    height: 395px;
    /* border: 1px solid black; */
    border-radius: 24px;
    background-color: #FFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 80px;
}
.satelite{
    border-radius: 24px;
}
.report{
    width: 744px;
    height: 300px;
    /* border: 1px solid black; */
}
.alj-title{
    width: 744px;
    font-size: 28px;
    font-weight: bold;
    counter-reset: #0E0E0E;
    opacity: .8;
    margin-bottom: 12px;
}
.news-ajl-img{
    width: 134px;
    height: 40px;
    margin-bottom: 12px;
}
.ajl-date-time{
    font-size: 16px;
    width: 260px;
    color: #0E0E0E;
    opacity: .7;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.ajl-des{
    width: 750px;
    font-size: 16px;
    color: #0E0E0E;
    opacity: .7;
}
.alj-bt{
    width: 84px;
    border-radius: 8px;
    background-color: #006A50;
    padding: 13px 26px;
    text-align: center;
    margin-top: 50px;
}
.alj-bt-txt{
    color: #FFFF;
    font-weight: 600;
    font-size: 16px;

}
/* donate section */
.donate-container{
    width: 1280px;
    height: 457px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    margin-bottom: 80px;
    border-radius: 24px;
    /* border: 1px solid black; */
    justify-content: center;
}
.donate-txt{
    text-align: center;
}
.donate-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
.donate-des{
    text-align: center;
    width: 1100px;
    opacity: .7;
    font-size: 16px;
    margin-bottom: 32px;
    margin-left: 88px;
    margin-right: 88px;
}
.donate-box{
    margin-left: 104px;
    margin-bottom: 32px;
    width: 1070px;
    height: 120px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}
.donate-box-1{
    border: 1px solid #0E0E0E30;
    width: 240px;
    height: 120px;
    border-radius: 16px;
    background-color: #ffff;
}
.donate-box-2{
    border: 1px solid #0E0E0E30;
    width: 240px;
    height: 120px;
    border-radius: 16px;
    background-color: #C6E4D6;
}
.box-1-txt{
    text-align: center;
    margin-top: 36px;
    color: #0E0E0E;
    opacity: .8;
    font-weight: bold;
    font-size: 25px;
}
.donate-field{
    width: 1030px;
    height: 60px;
    margin-left: 124px;
    margin-right: 124px;
    background-color: #FFFF;
    text-align: center;
    margin-bottom: 32px;
    border-bottom: 1px solid #0E0E0E30;
}
.donate-field-txt {
    padding-top: 20px;
    font-size: 16px;
    opacity: .3;
}
.donate-bt {
    width: 84px;
    border-radius: 8px;
    background-color: #006A50;
    padding: 13px 26px;
    text-align: center;
    margin-top: 30px;
    margin-left: 570px;
}

.donate-bt-txt {
    color: #FFFF;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
}
/* newsletter section*/
.newsletter-container{
    width: 1280px;
        height: 410px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
        margin-bottom: 80px;
        border-radius: 24px;
        /* border: 1px solid black; */
    background-color: #C6E4D6;
}
.newsletter-txt{
    text-align: center;
    padding-top: 80px;
}
.newsletter-des{
    width: 605px;
    text-align: center;
        opacity: .7;
        font-size: 16px;
        margin-bottom: 32px;
        margin-left: 341px;
        margin-bottom: 24px;
}
.newsletter-field{
    display: flex;
}
.newsletter-field-box{
    width: 690px;
    height: 55px;
    background-color: #FFFF;
    margin-left: 245px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.newsletter-field-box-txt{
    width: 155px;
    height: 15px;
    font-size: 14px;
    counter-reset: #0E0E0E;
    opacity: .3;
    margin-left: 60px;
    padding-top : 18px;
}
.newsletter-bt {
    width: 145px;
    height: 55px;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #006A50;
    /* padding: 13px 26px; */
}

.newsletter-bt-txt {
    color: #FFFF;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 17px;
}
.promise{
    width: 520px;
    height: 18px;
    text-align: center;
    /* border: 1px solid black; */
    margin-top: 24px;
    margin-left: 358px;
    color: #0E0E0E;
    opacity: .7;
}